.center {
    padding-top: 190px;
}

.searchbar {
    text-align:center;
}

.left {
    position:absolute;
    bottom:0;
    left:0;
}

.right {
    position:absolute;
    bottom:0;
    right:0;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:22px;
    width:100%;
    background:#999;
}